@import '../abstract/variaveis';

footer{
    width: 100vw;
    background-color: $corPrimaria;
    color: $corSecundaria;
    text-align: center;
    font-size: 1rem;
    padding: 1.5rem;
    p{
        margin-bottom: 12px;
    }
}